* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic grid layout*/
body {
    min-height: 100vh; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer"; ;
    color: #333;
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }
 
 header {
    grid-area:header;
    background-color: #4d2dcb;
    color: white;
    position: relative;
 }

 main {
    grid-area: main;
    padding: 1rem;
    background-color: aliceblue;
    /*convert main on a grid container*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin: 0;
 }

 footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
 }

 /*Header content*/
 .header-content {
    padding: 3rem 1rem;
    text-align: center;
 }

 .name-highlight {
    color: #d7d422;
 }

 .header-content h1 {
    justify-content: center;
 }
 

 /* Navigation styles */
 nav {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    padding: 1rem;
 }

 nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 1rem;
 }

 nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
 }

 /*Styling cards*/
 .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    height: 100%;
    border-radius: 12px;
 }

 .card-heading {
    text-align: center;
    padding: 1rem;
    margin: 0;
    background-color: #4d2dcb;
    border-radius: 12px 12px 0 0;
 }

 .card-heading h2 {
    color: white;
    font-size: 1.5rem;
 }

 .card-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: start;
    padding: 1.5rem;
 }

 .card-content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
 }

.card-content p {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
 }

 .card-content-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    height: 100%;
    padding: 1.5rem;

}

.card-content-links ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0;
    margin: 0;
    text-align: start;
}

.card-content-links a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 0.5rem;
    border-radius: 4px;
    text-decoration: underline;
}

.card-content-location {
    text-align: center;
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid #ccc;
 }

 .card-content-location h2 {
    color: #0d0d0d;
    font-size: 1.5rem;
 }

 .card-content-location-details {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
    padding: 1.5rem;
 }

 .card-content-location-details img {
    width: 200px;
    height: 200px;
    object-fit: cover;
 }
.flag-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
 .flag-caption {
    text-align: center;
    color: #555;
    font-style: italic;
    min-width: 100%;
 }

 .location-text {
    flex: 1;
    padding-left: 1.5rem;
}
.card-content-location-details p {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    max-width: 50%;
    text-align: start;
 }


