/*Basic reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic grid layout*/
body {
   min-height: 100vh; 
   display: grid;
   grid-template-columns: 1fr 0.5fr;
   grid-template-rows: 170px 1fr 230px;
   grid-template-areas: 
   "header header"
   "main aside"
   "footer footer"; ;
   color: #333; 
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
    position: relative;
}

main {
    grid-area: main;
    padding: 2rem;
    background-color: rgb(212, 212, 212);
}

aside {
    grid-area: aside;
    padding: 2rem;
    background-color: rgb(255, 254, 254);
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 1rem;
}

/**/
.header-content {
    padding: 1rem;
    text-align: start;
}

/* Navigation styles*/
nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #252525;
    padding: 1rem;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

}

.footer-content {
    padding: 1rem;
    text-align: center;
}
